<table class="social" width="100%">
  <tr>
    <td>
      <!--- column 2 -->
      <table align="left" class="column">
        <tr>
          <td>
            <h5 class="">Connect with Us:</h5>
            <p>
              Phone: <strong>(+57) 300 486 1503</strong><br/>
              Email: <strong><a href="emailto:soporte.mobi@sapco.co">soporte.mobi@sapco.co</a></strong>
            </p>
          </td>
        </tr>
      </table>
      <!-- /column 2 -->
      <span class="clear"></span>
    </td>
  </tr>
</table>
<!-- /social & contact -->
