<table class="head-wrap">
  <tr>
    <td></td>
    <td class="header container">

      <div class="content">
        <table>
          <tr>
            <td>
              <img class="center__logo" src="{{logo}}" alt="Logo Mobi"/>
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td></td>
  </tr>
</table>
